// 主色
$color-primary: #2D8CF0;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// 字号
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-huge: 30px;

// 边框
$border-radius-base: 4px;

// 阴影
$shadow-base: 0 3px 6px rgba(73, 80, 96, 0.1);
$shadow-card: 0 0 16px rgba(0, 0, 0, 0.1);
